---
import { oneFilm } from "../../../backend/backend.mjs";
import ImagePB from "../../components/ImagePB.astro";
import Layout from "../../layouts/Layout.astro";
import Paragraphe from "../../components/Paragraphe.astro";
import { formatDate } from "../../../backend/helpers.js";

const { id } = Astro.params;
const film = await oneFilm(id);
console.log(film);

if (!film) {
  return Astro.redirect("/programme_films");
}
---

<Layout nom={film.titre}>
  <div
    class="lg:justify-start lg:flex-row flex-col lg:grid-cols-2 grid items-center mt-10"
  >
    <div class="flex justify-center">
      <ImagePB
        record={film}
        field="affiche"
        alt={film.Alt}
        classPicture="w-80 lg:w-160 h-auto "
        classImg="flex h-auto w-80 lg:w-150 lg:h-auto full-width border-2 border-orange1 bg-blanc mb-5 lg:mb-100 lg:mx-15 rounded items-center"
      />
    </div>

    <div class="lg:my-10 mx-5 space-y-3">
      <h3>{formatDate(film.date)}</h3>
      <h2>{film.titre}</h2>
      <Paragraphe titre="Synopsis" texte={film.synopsis} />
      <Paragraphe titre="Fiche Technique" />
      <div class="mb-19 space-y-3">
        <div class="mx-6 lg:mx-10">
          <p><span class="font-bold">Genre :</span> {film.genre}</p>
          <p><span class="font-bold">Durée :</span> {film.duree} minutes</p>
          <p>
            <span class="font-bold">Année de Sortie :</span>
            {film.annee_sortie}
          </p>
          <p><span class="font-bold">Langue :</span> {film.langue}</p>
          <p><span class="font-bold">Production :</span> {film.production}</p>
          <p>
            <span class="font-bold">Liste des acteurs :</span>
            {film.liste_acteur}
          </p>
          <p>
            <span class="font-bold">Invité :</span> {film.expand?.invite.prenom} {film.expand?.invite.nom}
          </p>
        </div>
        <Paragraphe titre="Bande Annonce" />
        {
          film.bandeannonce && (
            <div class="mt-6 bg-orange1 p-4 rounded-lg">
              <iframe
                class="w-full h-100 mt-4 rounded-lg shadow-md"
                src={film.bandeannonce.replace("watch?v=", "embed/")}
                frameborder="0"
                allowfullscreen
              />
            </div>
          )
        }
      </div>
    </div>
  </div>
</Layout>
