---
import { allInvite } from "../../../backend/backend.mjs";
const invites = await allInvite();
import Layout from "../../layouts/Layout.astro";
import Paragraphe from "../../components/Paragraphe.astro";
import Fleche from "../../assets/icons/fleche.svg";
---

<Layout titre="invite" nom="Invités">
  <Paragraphe
    titre="Nos invités pour Cinénature 2025"
    text="Au festival Cinénature, nous sommes ravis d'accueillir des invités prestigieux qui partageront leur passion du cinéma et de l'écologie. Réalisateurs, acteurs, jurys et autres professionnels du cinéma, chacun d'eux contribue à la richesse et à l'impact de cet événement."
  />

  {
    invites.map((invite) => (
      <div class="flex justify-center lg:justify-start lg:flex-row flex-col items-center">
        <img
          class="flex w-80 h-auto lg:h-100 lg:w-auto full-width border-2 border-orange1 bg-blanc my-4 lg:mx-15 rounded items-center"
          src={invite.img}
          alt="photo invite"
        />
        <div class=" lg:my-10 mx-5 space-y-5">
          <h2>
            {invite.prenom} {invite.nom}
          </h2>
          <p class="uppercase font-bold">{invite.role}</p>
          <p>{invite.biographie}</p>
          <button class="flex gap-2 border border-orange1 text-gray uppercase py-4 px-4 mb-11 bg-blanc ml-auto mr-20">
            <span class="mt-1">
              <Fleche />
            </span>
            <a
              class="text-gris text-xs font-semibold"
              href={`/invite/${invite.id}`}
            >
              En savoir plus
            </a>
          </button>
        </div>
      </div>
    ))
  }
  <button
    class="flex gap-2 underline decoration-orange1 py-4 px-4 mb-19 ml-auto mr-20 rounded-2xl"
  >
    <span class="mt-1"><Fleche /></span>
    <a class="text-orange1 text-xs font-bold" href={`/invite/add`}
      >Ajouter un invité</a
    >
  </button>
</Layout>
